/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
  --brightgreen: #0ae439;
}

/* Use attribute selectors for the first part of the exercise */

li[class="dog"] {
  color: var(--darkmagenta); /* dog */
}

li#cat {
  color: var(--teal); /* cat */
}

li[class="parrot"] {
  color: var(--brightgreen); /* parrot */
}

li[class="donkey"] {
  color: var(--blue); /* donkey */
}

li[class="hedgehog"] {
  color: var(--violet); /* hedgehog */
}

li[class="cat dog parrot"] {
  color: var(--royalblue); /* combined classes: dog, cat, and parrot */
}

/* Use descendant, child, and sibling selectors for the second part */

li.first {
  color: var(--brightgreen);
}

li.second {
  color: var(--violet);
}

.list-food ol li:nth-child(3) {
  color: var(--teal);
}

.list-food ol li:nth-child(4) {
  color: var(--darkmagenta);
}

.list-cleaning ol li {
  color: var(--brightgreen);
}