/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class="dog"] {
  color: var(--darkmagenta); /* dog */
}

li#cat {
  color: var(--green); /* cat */
}

li[class="parrot"] {
  color: var(--teal); /* parrot */
}

li[class="donkey"] {
  color: var(--blue); /* donkey */
}

li[class="hedgehog"] {
  color: var(--violet); /* hedgehog */
}

li[class="cat dog parrot"] {
  color: var(--royalblue); /* combined classes: dog, cat, and parrot */
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--green);
}
